<h1>Login as Staff</h1>

<form method="POST" action="login-staff">
    <input type="text" id="name_staff" name="name_staff" placeholder="Username" required>
    <input type="password" id="password_staff" name="password_staff" placeholder="Password" required>
    <button type="submit">Login</button>
</form>