<h1>Login as Admin</h1>

<form method="POST" action="/admin/login-admin">
    <input type="text" id="name_admin" name="name_admin" placeholder="Username" required>
    <input type="password" id="password_admin" name="password_admin" placeholder="Password" required>
    <button type="submit">Login</button>
</form>