<h1>Register as Staff</h1>

<form method="POST" action="/admin/register-staff">
    <input type="text" id="fullName" name="fullName" placeholder="Full Name Staff" required>
    <input type="email" id="email" name="email" placeholder="Email Staff" required>
    <button type="submit">Register</button>
</form>